.button{
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    &__main{
        margin-top: 67px;
        width: 300px;
        height: 50px;
    }
    &_submit{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
}

@media (max-width: 425px){
    .button{
        &__header{
            display: none;
        }
        &__main{
            font-size: 18px;
            height: 60px;
        }
        &_submit{
            width: 100%;
            height: 46px;
            font-size: 16px;
        }
    }
}
@media (max-width: 320px){
    .button{
        &__header{
            margin-top: 12px;
            width: 170px;
            height: 30px;
            font-size: 11px;
        }
        &_submit{
            width: 100%;
            height: 36px;
            font-size: 11px;
        }
    }
}
